

//  - - - - - - - - - - - - Colours  - - - - - - - - - - - - 

$primary:rgb(75, 95, 117);
$primary-light:rgb(150, 165, 180);
$primary-dark:rgb(29, 46, 63);

$secondary:rgb(128, 128, 131);
$secondary-light:rgb(224, 224, 224);
$secondary-dark:rgb(58, 58, 58);