footer{
    display:none;
    &.active{
        display:block;
        background-color: $primary-light;
        .container{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
        
    
            .tmdb {
            svg{
            width:4rem;
            }
            }
        }
    }
}