@import "../utilities/colours";

html{box-sizing:border-box;}
*::before,*::after{
    box-sizing: inherit;
}

body {
    background-color: $secondary-light;
}

main{
    width:85vw;
    margin:0 auto;
}


#instructions {
    display: none;
    &.active{
        display:block;
    }
}
#actors {
    display: none;
    opacity: 0;
    animation: slideInRight .25s linear 1;
    @keyframes slideInRight { 
     from{transform:translateX(100%);}
     to{transform:translateX(0);}
    }
    &.active{
        transform: translateX(0);
        display: block;
        opacity: 1;
        text-align: center;
        display:block;
        background-color: $secondary;
        color:$primary-light;
    }
}
#media {
    display: none;
    background-color: none;
    animation: slideInLeft .25s linear 1;
    @keyframes slideInLeft { 
        from{transform:translateX(-100%);}
        to{transform:translateX(0);}
       }
    &.active{
        transform: translateX(0);
        background-color: $primary-dark;
        text-align: center;
        display:block;
        background-color: $secondary;
        #mediaContent{
            h3{
                color:$primary-light
            }
        }
    }
}

